<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="/css/fontxr.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <script src="/layui/layui.all.js"></script>
    <script src="/js/home.js"></script>
    <script src="/login/js/core.util.js"></script>
    <style>
        .logo{ color: #fff; float: left; line-height:60px; font-size:20px; padding:0 25px; text-align: center; width:180px;}
        .layui-tab-title .layui-this { background-color:#009688; color: #eee;}
        .first-tab i.layui-tab-close{
            display:none!important;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部区域 -->
        <div class="layui-header">
            <a href="#" class="logo">后台管理系统</a>
            <!--头部右侧-->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a id="deptName" href="javascript:;"></a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;" style="margin-right: 15px">
                        <i class="layui-icon layui-icon-username" style="font-size: 25px; color: #fff;"></i>
                        <span id="nickName"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="userProper" data-title="基本资料" data-url="/index/users/info"
                               class="menuNvaBar">基本资料</a></dd>
                        <dd><a href="javascript:;" data-id="userSafe" data-title="安全设置" data-url="/index/users/password"
                               class="menuNvaBar">更换密码</a></dd>
                        <dd><a href="javascript:;" class="menuNvaBar" id="logout">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 左侧菜单-->
         <div id="mainmenu" class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <div class="navBar layui-side-scroll" id="navBarId"></div>
             </div>
        </div>
        <!-- 内容主体区域 -->
        <div class="layui-body" style="height: 100%;">
            <div class="layui-tab" lay-filter="tab" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="first-tab layui-this">
                        <i class="layui-icon layui-icon-vercode" style="margin-right: 6px"></i>
                        后台首页
                    </li>
                </ul>
                <!-- 中间内容区域 -->
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show"  >
                        <iframe th:src="@{/index/main}" frameborder="0" name="content" width="100%" id="home"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>